@charset "UTF-8";

@font-face {
    font-family: "untitled-font-1";
    src: url("../fonts/untitled-font-1.eot");
    src: url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
    content: "\61";
}

.icon-google:before {
    content: "\62";
}

.icon-github:before {
    content: "\63";
}

.icon-facebook:before {
    content: "\64";
}

.icon-header:before {
    content: "\65";
}

.icon-html5:before {
    content: "\66";
}

.icon-user:before {
    content: "\67";
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #919191;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 80vw;
    text-align: center;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.title,
.secondary-title {
    text-transform: uppercase;
    line-height: 24px;
    font-weight: bold;
    font-size: 22px;
    color: #566366;
}

.title {
    padding-top: 5vw;
    margin-bottom: 2vw;
    font-size: 30px;
}

.secondary-title {
    margin-bottom: 20px;
    font-size: 26px;
}

.contacts__title {
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 15px 1.87vw;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #2ecc71;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid #2ecc71;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 1;
}

.header,
.contacts {
    background-color: #252e30;
}

.footer {
    background-color: #191f21;
}

.main-info,
.skills,
.courses,
.portfolio {
    background-color: #fff;
}

.minor-info,
.resume,
.education,
.testimonials {
    background-color: #f2f2f1;
}

.nav {
    font-size: 0;
    padding: 0;
    display: inline-block;
}

.nav__item {
    display: inline-block;
    margin-left: 40px;
    padding: 20px 0;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    display: inline-block;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav__link:hover {
    color: #2ecc71;
}

.main-info {
    padding: 5vw 0;
    font-size: 0;
}

.main-info__item {
    display: inline-block;
    vertical-align: top;
    width: 24vw;
    margin-right: 4vw;
    text-align: left;
}

.main-info__item:last-child {
    margin-right: 0;
}

.main-info__text {
    margin-bottom: 20px;
    width: 100%;
    font-size: 1.1rem;
}

.main-info__title {
    padding-top: 0;
}

.minor-info {
    font-size: 0;
}
.minor-info .container {
    text-align: left;
}
.minor-info__photo {
    display: inline-block;
    vertical-align: top;
    width: 491px;
    height: 608px;
    background: url('../img/my-photo.jpg') no-repeat;
    background-size: cover;

    overflow: hidden;
}
.minor-info__narration {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 491px - 200px);
    padding: 0 100px;
    font-size: 18px;
}
.minor-info__title {
    padding-top: 3vw;
    margin-bottom: 1vw;
}
.minor-info__text {
    margin-bottom: 20px;
}
.minor-info__item {
    display: inline-block;
    position: relative;
    margin: 1.5vw 0;
    vertical-align: top;
}
.minor-info-item__title {
    padding-left: 75px;
}
.minor-info-item__title:before {
    position: absolute;
    top: 0;
    left: 0;

    color: #2ecc71;
    font-weight: bold;
    font-size: 50px;

    z-index: 10;
}
.minor-info-item__text {
    font-size: 18px;
}

.logo-js:before {
    content: "JS";
}

.portfolio__info {
    margin-bottom: 4vw;
}
.portfolio-items {
    font-size: 0;
}
.portfolio-item {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    height: 365px;
    margin-right: 2vw;
    margin-bottom: 2vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.8;
    transition: all 0.2s ease;
}
.portfolio-item:hover {
    opacity: 1;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.portfolio-item:last-child {
    margin-bottom: 5vw;
}

.skills__title {
    margin-bottom: 5vw;
}
.skills__info {
    float: left;
    width: 50%;
    text-align: left;
}
.skills-items {
    float: left;
    width: 50%;
    text-align: left;
}
.skills__list {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 2vw;
    width: 80%;
}
.skills__btn {
    margin-bottom: 2vw;
}
.skill-item {
    margin-bottom: 40px;
}
.skill-item:last-child {
    margin-bottom: 5vw;
}
.skill-item__progress {
    width: 100%;
    height: 30px;

    background-color: #f2f2f1;
}
.skill-item__percent {
    box-sizing: border-box;
    padding-left: 50%;
    height: 30px;

    color: #fff;
    font-weight: bold;
    background-color: #2ecc71;
}

.skills__container {
    position: relative;
}
.skills__title:before {
    position: absolute;
    content: '';
    top: 0;
    left: 47%;
    width: 0;
    height: 0;
    margin-bottom: 5vw;

    z-index: 10;
    border-top: 20px solid #f2f2f1;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.percent-70 {
    width: 70%;
}
.percent-80 {
    width: 80%;
}
.percent-90 {
    width: 90%;
}

.resume__container {
    text-align: center;
}
.resume__info {
    margin-bottom: 2.5vw;
}
.resume__btn {
    margin-bottom: 5vw;
}

.education__place,
.courses__place,
.contacts__mail,
.contacts__phone,
.skills__subtitle,
.contacts__skype {
    font-weight: 500;
}

.education__place-date,
.courses__place-date {
    margin-bottom: 15px;
}

.education__gpa,
.courses__gpa {
    margin-bottom: 30px;
    width: 70px;
    height: 30px;

    color: #fff;
    font-weight: bold;
    text-align: center;

    background-color: #2ecc71;
}

.english-level {
    width: 200px;
}
.courses__title {
    margin-bottom: 5vw;
}
.education__info,
.courses__info {
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.education-items,
.courses-items {
    font-size: 0;
}
.education-item,
.courses-item {
    display: inline-block;
    vertical-align: top;
    width: 24vw;
    margin-right: 4vw;
    text-align: left;
    margin-bottom: 2vw;
    font-size: 18px;
}

.courses-item:last-child {
    margin-bottom: 5vw;
}

.education-item:nth-child(3n),
.courses-item:nth-child(3n) {
    margin-right: 0;
}

.testimonial-item__text {
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
}
.testimonial-item__author {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 36px;
    color: #566366;
}

.contacts__info {
    float: left;
    width: 50%;
    text-align: left;
    color: #ccc;
}
.contacts__text,
.contacts__mail-phone {
    margin-bottom: 2vw;
    width: 80%;
}


.contacts__form {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 5vw;
}
.contact-form__name-lbl,
.contact-form__mail-lbl,
.contact-form__letter-lbl {
    display: block;
    margin-bottom: 15px;
    color: #fff;
}

.contact-form__name-block,
.contact-form__mail-block,
.contact-form__letter-block {
    margin-bottom: 2vw;
}

.contact-form__user-name,
.contact-form__user-mail,
.contact-form__user-message {
    height: 53px;
    width: 90%;
    box-sizing: border-box;
    padding-left: 15px;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #fff;

    background-color: #4b5456;
    border: 1px solid #4b5456;
}

.contact-form__user-message {
    height: 15vw;
}

.star {
    color: #ccc;
}

.contact-form__btn {
    padding: 20px 35px;
    color: #fff;
    background-color: #191f21;
    border: none;
}

.social {
    width: 260px;
    font-size: 0;
    padding: 50px 0;
}
.social__link {
    display: inline-block;
    margin-left: 10px;

    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;

    text-decoration: none;
    color: #191f21;
    font-size: 18px;

    background-color: #4b5456;
    border-radius: 50%;
    transition: all 0.2s ease;
}
.social__icon:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.social__link:first-child {
    margin-left: 0;
}
.social__link:hover {
    color: #fff;
}

@media (max-width: 1440px) {
    .title {
        font-size: 26px;
    }
    .secondary-title {
        font-size: 22px;
    }
    .minor-info__photo {
        width: 390px;
        height: 483px;
    }
    .minor-info__narration {
        width: calc(100% - 390px - 60px);
        padding: 0 0 0 60px;
    }
}

@media (max-width: 1280px) {
    .title {
        font-size: 22px;
    }
    .secondary-title {
        font-size: 18px;
    }

    p {
        font-size: 1rem;
    }

    .minor-info .container {
        max-width: 100%;
        padding: 0;
    }
    .minor-info__narration {
        width: calc(100% - 390px - 8vw);
        padding: 0 4vw;
    }

    .contact-form__user-name,
    .contact-form__user-mail {
        height: 45px;
    }
    .contact-form__name-lbl,
    .contact-form__mail-lbl,
    .contact-form__letter-lbl {
        font-size: 1rem;
        margin-bottom: 7px;
    }
}

@media (max-width: 1200px) {
    .courses__place-date {
        min-height: 54px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 18px;
    }
    .nav__item {
        margin-left: 30px;
    }
    p,
    .main-info__text,
    li,
    .skills__subtitle {
        font-size: 0.8rem;
    }
    .contact-form__name-lbl,
    .contact-form__mail-lbl,
    .contact-form__letter-lbl {
        font-size: 0.8rem;
    }
}